# Specifies the encryption key
# Format: projects/<project>/locations/<location>/keyRings/<keyring>/cryptoKeys/<key>
KMS_CRYPTO_KEY_ID:

# Encrypted Github personal access token
GITHUB_API_TOKEN:

# Encrypted Github webhook secret
GITHUB_WEBHOOK_SECRET:

# Minimal set of gitsup config variables - see gitsup docs for more
#  info
GITSUP_OWNER:
GITSUP_REPOSITORY:
GITSUP_SUBMODULES:
